	.biby{
		background-color:lightgrey;
		width:1000px;
		height:auto;
	}	
	a{ color:blue;}
    .b{
       background-color:green;
       background-repeat:no-repeat;
       color:black;
       padding:10px;
       width:600px;
       height:auto;
     }
     .taille-image{
        width:auto;height: 300px;
     }
     .c{
        height: auto;
        width:70%;   
     }
     /*
    .c{
       border-radius:20px;
       width:600px;
       height:auto;
       background-color:green;
       color:white;
       padding-top:5px
     }*/
     .nosy{
		background-image:url("nosy.jpg");
		color:white;
        width:600px;
        height:auto;
		padding:10px;
		margin:5px;
      }
	 /*.aye{ 
		background-image:url("aye.jpg"); 
		color:white;
        width:600px;
        height:400px;
        margin:6px;
      }
     .fosa{
		background-image:url("fossa.jpg");
        background-size: 50%;
		color:white;
        width:800px;
        height:auto;
      }
     .antsora{
		background-image:url("antsora.jpg");
		color:white;
        width:600px;
        height:auto;}
     .indri{
		background-image:url("indri.jpg");
		color:white;
        width:600px;
        height:400px;
		margin:6px;
		padding:10px;
      }
     .boko{
		background-image:url("bokombolo.jpg");
		color:white;
        width:600px;
        height:400px;
		margin:6px;
		padding:10px;
      }
     .sifaka{
		background-image:url("sifaka.jpg");
		color:white;
        width:600px;
        height:400px;
        margin:6px;  
        padding:10px;
      }
     .varimena{
		background-image:url("varimena.jpg");
		color:white;
        width:600px;
        height:400px;
		margin:6px;
		padding:10px;
      }  */  
     .car{
        background-color:green;color:white;
        padding:20px;
      }
