fieldset{
    margin-top: 50%;
    background-color: blue;
    width: 50%;
    margin:auto 30% auto 30%;
    /* padding: 0 30% 0 20%; */
    align-items: center;
    justify-content: center;
}
input{
    text-align: center;
}
h2{
    width: min-content;
    padding:3px 10px 3px 10px;
    border-radius: 8%;
    margin-top: -20px;
    background-color: rgb(33, 145, 249);
}